@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
@import url(http://fonts.googleapis.com/css?family=Offside);

body{
	background-color:#babbc0;
	font-size:100%;	 
}
.container{
	padding-top:20px;
	overflow:auto;
	width:280px;
	margin-left: auto;
	margin-right: auto;
}
.block{
	margin:2px;
	width:120px;
}
.menu{
	height: 25px;
	position: relative;
	padding: 50px;
}
.menu-top-one{
	background:url(img/bus.png) no-repeat #0091E6 center;
	background-size:35% 35%;
	-webkit-background-size: 35% 35%;
	-o-background-size: 35% 35%;
	-khtml-background-size: 35% 35%;
	-moz-background-size:35% 35%;
}
.menu-top-two{
	background:url(img/bus-stop.png) no-repeat #0091E6 center;
	background-size:30% 50%;
	-webkit-background-size: 30% 50%;
	-o-background-size: 30% 50%;
	-khtml-background-size: 30% 50%;
	-moz-background-size:30% 50%;
}
.menu-button{
	background-color:#F6F6F6;	
}
.block1 {
	float: left;
}
.block2 {
	float: right;
}
.menu h2{
	font-family: 'Offside', cursive;
	text-align:center;
}
.block1 .menu h2{
	color:#0E0F1B;
	font-size:10pt;
}
.block2 .menu h2{
	color:#0E0F1B;
	font-size:10pt;
}

@media all and (min-width: 400px) {
	.container {
		max-width: 660px;
		margin:0 auto;
	}
	.block{
		width: 45%;
	}
	.menu{
		height:10%;
		position: relative;
		padding: 50px;
	}
	.block1 .menu h2{
		font-size:20pt;
	}
	.block2 .menu h2{
		font-size:20pt;
	}
	.container{
		width:100%;
	}
}
@media all and (min-width: 500px) {
	.container {
		max-width: 660px;
		margin:0 auto;
	}
	.block{
		width: 45%;
	}
	.menu{
		height:20%;
		position: relative;
		padding: 50px;
	}
	.block1 .menu h2{
		font-size:20pt;
	}
	.block2 .menu h2{
		font-size:20pt;
	}
	.container{
		width:100%;
	}
}
.imagem{
	margin:0 auto;
	height:43%;	
}
#title{
	font-size:5em;
	font-family: 'Annie Use Your Telescope', cursive;
	background-color:#FFFFFF;
}

.topcoat-search-input{
	margin:10px;
}
#list{
	margin-top:-20px;
}
.list-title{	
	background-color:#0091E6;
}
#imagem-maps{
	width:5%;
}
.swipe{
	background-color:#0091E6;
}
/* Animações ng-Animate*/
.view-animate-container {
	position:relative;
	height:80%;
}
.slide-left.ng-enter, .slide-left.ng-leave,
.slide-right.ng-enter, .slide-right.ng-leave{
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	display:block;
	width:100%;

	position:absolute;
	top:0;
	right:0;
	bottom:0;
}

.slide-left.ng-enter {
	-webkit-transform: translate3d(100%, 0, 0);
	translate3d(100%, 0, 0);
}
.slide-left.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0, 0, 0);
	translate3d(0, 0, 0);
}
.slide-left.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(-100%, 0, 0);
	translate3d(-100%, 0, 0);
}

.slide-right.ng-enter {
	-webkit-transform: translate3d(-100%, 0, 0);
	translate3d(-100%, 0, 0);
}
.slide-right.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0, 0, 0);
	translate3d(0, 0, 0);
}
.slide-right.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(100%, 0, 0);
	translate3d(100%, 0, 0);
}